body {
  background-color: $body-bg !important;
}

::-moz-selection {
  color: #FFFFFF !important;
  background: #2A3A3F !important;
}

::selection {
  color: #FFFFFF !important;
  background: #2A3A3F !important;
}

.flex-center-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
