body {
  background-color: $body-bg !important;
}

::-moz-selection {
  color: #FFFFFF !important;
  background: #2A3A3F !important;
}

::selection {
  color: #FFFFFF !important;
  background: #2A3A3F !important;
}

input[type=text]:disabled {
  color: #000000 !important;
}

.flex-center-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-width-button {
  width: 100%;
}

.container {
  height: 100vh;
}
