<md-dialog flex="50">
  <md-dialog-content>
    <div class="md-dialog-content">
      <div>

        <div layout="row">
          <md-input-container flex>
            <label>Option</label>
            <input type="text" ng-model='vm.option.option' placeholder="Yes" />
          </md-input-container>
        </div>

        <br>
        <div layout="column">
          <div class="row">
            <md-checkbox ng-model="vm.option.isAvailable" aria-label="Lecture" flex>
              Is available
            </md-checkbox>
          </div>
        </div>

      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row" layout-align="end">
      <md-button ng-click="vm.closeDialog()">Cancel</md-button>
      <md-button  class="md-raised" ng-click="vm.addUpdateQuestion()">Add</md-button>
    </md-dialog-actions>
</md-dialog>
